table{
  display: block;
  overflow-x: auto;
  margin: auto;
}

#divu
{
    max-height: 94%;
    width: 59%;
    background-color: white;            
    margin: 10px;
    overflow-y: scroll;
    margin: auto;
    
}


table.contenidoTabla {
  font-family: Georgia, serif;
  border: 0px solid #000000;
  background-color: #FFF5F6;
  text-align: center;
  border-collapse: collapse;
}
table.contenidoTabla td, table.contenidoTabla th {
  border: 0px solid #6B1740;
  padding: 10px 8px;
}
table.contenidoTabla tbody td {
  padding: 1% 8%;
  font-size: 18px;
}


table.contenidoTabla thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding:2px 15px;
}
table.contenidoTabla thead th:first-child {
  border-left: none;
}


body{
  position: relative;
  background-size: cover;
  height: 100vh;
  background: rgb(80,142,172);
  background: linear-gradient(90deg,
     rgba(80,142,172,1) 15%,
      rgba(112,56,84,1) 50%,
       rgba(80,142,172,1) 85%);
}

.miMensaje{
  background-color: #9dd0fd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: bold;
  text-align: right;
}



.suMensaje{
  background-color: #8eeae2;
  
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: bold;
  text-align: left;
}

input[type="text"]{
  width:128%;
  border-radius:7px;
  font-size:bold;
  font-size: 19px;

}


input[type="submit"]{
  background-color:#8eeae2;
  border-radius: 7px;
  font-size:bold;
  font-size: 19px;
}

.conversaciones{
  width: 19.5%;
  position: fixed;
  top:2px;
  left: 6px;
}

h6{
  margin: 1px 13px;
}

.nombre{
  font-size: 15px;
  color: aliceblue;
}

.ultimoMensaje{
  font-size: 12px;
  color: #000000;
}

.mensaje{
  padding: 2px;
}

.imgChat{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 3px;
}

.contenedorConversaciones{
  display:flex;
  margin:6px 0px;
  background-color:rgb(23 166 173);
  border-radius:8px;
}

.contenedorZonaEnvio{
  display:flex;
  margin:6px 0px;
  border-radius:8px;
  width: 59%;
  position: absolute;
  left: 20.5%;
}