table{
  display: block;
  overflow-x: auto;
  margin: auto;
  border-radius: 24px;
 -webkit-box-shadow: -2px 2px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 13px 0px rgba(0,0,0,0.75);
box-shadow: -2px 2px 13px 0px rgba(0,0,0,0.75);
}

#divu
{
    max-height: 94%;
    width: 59%;
    background-color: white;            
    margin: 10px;
    overflow-y: scroll;
    margin: auto;
    
}


table.contenidoTabla {
  font-family: 'Poppins', sans-serif;
  border: 0px solid #000000;
  background-color: #FFF5F6;
  text-align: center;
  border-collapse: collapse;
}
table.contenidoTabla td, table.contenidoTabla th {
  font-family: 'Poppins', sans-serif;
  border: 0px solid #6B1740;
  padding: 10px 8px;
}
table.contenidoTabla tbody td {
  font-family: 'Poppins', sans-serif;
  padding: 1% 8%;
  font-size: 18px;
}


table.contenidoTabla thead th {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding:2px 15px;
}
table.contenidoTabla thead th:first-child {
  border-left: none;
}


body{
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  height: 100vh;
  background: #f7ffff;
}

.miMensaje{
  background-color: #9dd0fd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: bold;
  text-align: right;
}



.suMensaje{
  background-color: #8eeae2;  
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: bold;
  text-align: left;
}

input[type="text"]{
  width:128%;
  border-radius:7px;
  border: 2.5px solid #a0a0a0;

}


input[type="submit"]{
  background-color:#8eeae2;
  border-radius: 7px;
  font-size:bold;
  font: #FFF;
  font-size: 19px;
  border: 2.5px solid #a0a0a0;
}

.conversaciones{
  width: 19.5%;
  position: fixed;
  top:2px;
  left: 6px;
}

h6{
  margin: 1px 13px;
}

.nombre{
  font-size: 15px;
  color: aliceblue;
}

.ultimoMensaje{
  font-size: 12px;
  color: #000000;
}

.mensaje{
  padding: 2px;
}

.imgChat{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 3px;
}

.contenedorConversaciones{
  display:flex;
  margin:6px 0px;
  background-color:rgb(23 166 173);
  border-radius:8px;
}


.inmueble{
  position: fixed;
  top:2px;
  left: 52%;
  width:420px;
}

.contenedorInmueble{
  margin-left:77%;
  border-radius:8px;
}

.imgInmueble{
  width: 203px;
  height: 150 px;
  border-radius: 5%;
  padding-top: 3px;
  padding-left: 3px;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin:10px 10px 2px;
}

h4{
  margin:2px 10px 4px;
}

h5{
  font-size: 12px;
  margin:2px 10px 10px;
}

.fotoInmueble{
  width:220%;
}

.imgReceptor{
  width: 160px;
  height:160px;
  border-radius: 50%;
}

.imgRating{
  padding-top: 4px;
  width: 100px;
  height: 20px;
}

.receptor{
  width: 200%;
  margin:auto;
  display:grid;
  place-items:center;
}

.receptor h1{
  margin:0px;
  padding: 4px 0px 0px 0px;
}

.contenedorZonaEnvio{
  display:flex;
  margin:6px 0px;
  border-radius:8px;
  width: 59%;
  position: absolute;
  left: 20.5%;
}

.aChat{
  text-decoration: none;
}

.aAgenda{
  margin-top:4px;
  transition: 0.95s;
  font-size: 12.5px;
  text-decoration: none;
  background-color: #017a80;
  color: white;
  border-radius: 10px;
  padding: 10px 24px;
  box-shadow: inset -1px 3px 8px 5px #017a80, 2px 5px 16px 0px #017a80, 5px 5px 15px 5px rgba(0,0,0,0);
  
}

.aAgenda:hover{
  font-size: 14px;
  transition: 0.95s;
  background-color:rgba(1, 122,128,0.6);
  text-decoration: none;
}