:root{
    --base:rgba(0, 97, 189, 0.856);
    --secundario: rgba(71, 157, 255, 0.938);
    --colorAuxiliar: rgba(117, 131, 255, 0.8);
    --fuente: 'Poppins', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;
}


body{
    font-size: 16px
    
}

.formulario{
    -webkit-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.55);
    box-shadow: 2px 5px 19px -6px rgba(0,0,0,0.55);
    background-image: linear-gradient(to top,#00a3a8 0%, #017A80 90%);
    padding: 2rem 2rem;
    border-radius: 1rem;
    width: min(58rem, 100%);
    margin-top: 100px;
    margin: auto;
}

.formulario fieldset{
    border: none;
    
}

.formulario fieldset legend{
    font-size: 1.8rem;
    color: rgb(250, 250, 250);
    font-family: var(--fuente);
    text-align: center;
    

}

.entradas{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}


.entradas label{
    color:whitesmoke;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-family: var(--fuente);
    font-size: 1.5rem;
}
.entradas textarea,input,select,option{
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color:rgb(90, 90, 90);
}

.entradas input[type="submit"]{
  margin: 0 auto;
  cursor:pointer;

  width: 30%;
  height: 60px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgba(44, 255, 255, 0.541) ;
  padding: 0;
  outline: none;
  transition: 1s ease-in-out;
  
}

.entradas input[type="submit"]:hover{
    transition: 1s ease-in-out;
    background: #a4ffff;
    color: rgb(90, 90, 90);
}

.entradas input::placeholder{
    font-family: var(--fuente);
    font-size: 1rem;
}

.entradas input[type="submit"]{
    font-family: var(--fuente);
    font-size: 1.5rem;
    /*padding-top: 1rem;*/
}
.txtBtn{
    text-align:center;
    color:whitesmoke;
    position: relative;
    font-family:  var(--fuente);
    font-size: 1.5rem;
    padding: auto;
    margin-top:0; 
}

.div_file{
    border-radius: 0.8rem;
    position: relative;
    margin:10px;
    padding:1rem;
    height: 35px;
    width: 95%;
    background-color: rgb(51, 201, 108);
    cursor: pointer;
    margin-left: 1px;
    -webkit-box-shadow: 2px 3px 0px rgba(5, 143, 0, 0.5);
    -moz-box-shadow: 2px 3px 0px rgba(5, 143, 0, 0.5);
    box-shadow: 3px 3px 0px rgba(5, 143, 0, 0.5);
}

.btn_enviar{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width: 95%;
    height: 35px;
    opacity:0%;
    cursor:pointer;
}

.btn_enviar .div_file:hover{
    transition: 1s ease-in-out;
    background-color: rgb(108, 231, 155);
}

.entradas textarea{
    height: 15rem;
}

.inputSelect{
    margin-top: 1rem;
    transition: 1s ease-in-out;
}


option{
    font-size: 1.3rem;
}



